p {
    font-size: 0.75em; 
}

button {
    background-color: #87CEEB;
    height: 3em; 
    width: 10em;
    display: block;
    border: hidden; 
    border-radius: 1em;  
}

button:hover {
    opacity: 0.75; 
    transition: 0.15; 
}

button:active {
    opacity: 0.5;
    transition: 0.15;
}

.dragAndDropZone {
    background-color: rgb(225, 222, 222);
    font-family: "Roboto", sans-serif;
    font-size: 1.5em; 
    text-align: center;
    height: 350px; 
    width: 350px; 
    border-color: grey; 
    border-style: dashed;
    position: absolute; 
    top: 18%; 
    left: 35%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}